body { font-family: 'Noto Sans JP', sans-serif; }

.kv {
  background-image: url(../img/kv_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  mix-blend-mode: multiply;
  position: relative;
  overflow: hidden;

  @media (max-width: 1150px) {
    height: 800px;
  }

  @media (max-width: 1000px) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../img/kv_bg_water.png);
    background-position: right;
    background-size: contain;
    mix-blend-mode: lighten;
    width: 100%;
    height: 100%;
  }

  .kv_water {
    background-image: url(../img/kv_bg_water.png);
    height: 900px;
    mix-blend-mode: screen;
  }

  .kv_flex {
    padding: 120px 80px;
    display: flex;
    justify-content: space-between;

    .kv_contents {
      h1 {
        img {
          width: 425px;
          height: 30px;
        }

        @media (max-width: 1200px) {
          width: 340px;
          height: 24px;
        }
      }

      .kv_contents_catchcopy {
        position: relative;
        margin-top: 226px;

        img {
          width: 747px;
          height: 119px;
          position: absolute;

          @media (max-width: 1400px) {
            width: 600px;
          }

          @media (max-width: 1200px) {
            width: 448px;
            height: 100px;
          }
        }

        &::before {
          position: absolute;
          content: "";
          background-image: url(../img/kv_catchcopy_infinity.png);
          background-size: cover;
          mix-blend-mode: overlay;
          top: -74px;
          left: 92px;
          opacity: 0.7;
          width: 563px;
          height: 268px;

          @media (max-width: 1400px) {
            width: 450px;
            height: 214px;
            top: -49px;
            left: 78px;
          }

          @media (max-width: 1200px) {
            width: 337px;
            height: 160px;
            top: -31px;
            left: 62px;
          }
        }
      }

      .kv_contents_text {
        margin-top: 443px;
        letter-spacing: 0.1em;
        color: #FFF;
        text-shadow: 0 0 8px rgba(2, 0, 102, 0.6);
        width: 747px;
        font-size: 24px;
        font-weight: 500;

        @media (max-width: 1400px) {
          width: 600px;
        }
        @media (max-width: 1200px) {
          width: 448px;
          font-size: 20px;
        }

        .kv_contents_text_first_line {
          position: relative;
          top: 1px;
          right: -1px;
        }
        .kv_contents_text_first_line_fi {
          letter-spacing: 0.02em;
        }
      }
    }
  }
}

#WebGL-output {
  transform: rotate(17deg);
  position: absolute;
  width: 542px;
  height: 867px;
  overflow: hidden;
  top: 44px;
  right: 700px;

  @media (max-width: 1300px) {
    width: 433px;
    height: 693px;
    top: 98px;
    right: 112px;
  }

  @media (max-width: 1150px) {
    width: 325px;
    height: 520px;
    top: 163px;
    right: 128px;
  }
}
#WebGL-output-2 {
  transform: rotate(17deg);
  position: absolute;
  width: 542px;
  height: 867px;
  overflow: hidden;
  top: 44px;
  right: 400px;

  @media (max-width: 1300px) {
    width: 433px;
    height: 693px;
    top: -111px;
    right: 112px;
  }

  @media (max-width: 1150px) {
    width: 325px;
    height: 520px;
    top: 163px;
    right: 128px;
  }
}
#WebGL-output-3 {
  transform: rotate(17deg);
  position: absolute;
  width: 542px;
  height: 867px;
  overflow: hidden;
  top: 44px;
  right: 66px;

  @media (max-width: 1300px) {
    width: 433px;
    height: 693px;
    top: 98px;
    right: 112px;
  }

  @media (max-width: 1150px) {
    width: 325px;
    height: 520px;
    top: 163px;
    right: 128px;
  }
}